
<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
    <label for="filterText" class="form-label">Ürün Arama</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" 
    placeholder="Ne aramıştınız?">
</div >

<div *ngIf= "filterText " class="alert alert-success" >
    {{filterText}} aradınız
</div>

<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>Ürün İsmi</th>
            <th>Ücret</th>
            <th>Kdv'li Fiyat</th>
            <th>Açıklama</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let product of productDetail |filterPipe:filterText">
            <td>{{product.productName |uppercase}}</td>
            <td>{{product.price |currency }}</td>
            <td>{{product.price |vatAdded:10 |currency }}</td>
            <td>{{product.description}}</td>
            
            <td><button (click) ="addToCart(product)" type="button"
                class="btn btn-success">Sepete Ekle</button></td>
        </tr>

    </tbody>
  

</table>